.site-finder 
{
   margin: 1em 0 0;
}

.site-finder .title
{
   color: #008000;
   font-size: 108%;
}

.site-finder .finder-wrapper
{
   border: 1px solid #c0c0c0;
   margin-top: 10px;
}

.site-finder .search-bar
{
   border-bottom: 1px dashed #c0c0c0;
   height: 2em;
   padding: 0.5em;
}

.site-finder .search-bar div
{
   float: left;
}

.site-finder .search-text
{
   padding: 0.3em 1em 0.5em 0.5em;
}

.site-finder .search-text input
{
   width: 20em;
}

.site-finder .search-button button
{
   background: transparent url(../images/search-16.png) no-repeat 12px 4px;
   padding-left: 32px;
}


.site-finder .search-controls .search-term
{
   vertical-align: text-bottom;
   height: 18px;
   width: 75%;
}

.site-finder .yui-dt table
{
   width: 100%;
   border: none;
}

.site-finder .siteFinderTableMessage
{
   white-space: nowrap;
}

.site-finder .yui-dt table thead
{
   display: none;
}

.site-finder .yui-dt td
{
   border-bottom: 1px dashed #D7D7D7;
   border-right: medium none;
}

.site-finder .yui-dt td.yui-dt-last
{
   text-align: right;
}

.site-finder .yui-dt-last td
{
   border-bottom: medium none;
}

.site-finder .yui-dt-first
{
   width: 70px;
}

.site-finder .yui-dt-last
{
   width: 18em;
}

.site-finder tr.yui-dt-odd
{
   background-color: #fff;
}

.site-finder h3
{
   margin-bottom: 4px;
}

.site-finder .sitedescription
{
   margin-bottom: 6px;
}

.site-finder .user-status
{
   margin-top: 0.5em;
}

.site-finder .moderated,
.site-finder .private
{
   color: #fff;
   font-size: 93%;
   padding: 0.1em 0.2em;
}
