
/****************
 * NODE DETAIL *
*****************/
.postview
{
  margin: 1.5em 0;
  padding: 20px 10px;
  voice-family: "\"}\"";
  voice-family:inherit;
  display: inline-block;
}

.node .authorPicture, .reply .authorPicture, .comment .authorPicture
{
  text-align: center;
  margin-right: 10px;
  width: 100px;
  position: relative;
  float: left;
}

.topicview .nodeFooter, .postview .nodeFooter
{
  /* background:  #F8FAFB; */
  background: transparent;
  border: none;
  margin-top: 5px;
}

.topicview .nodeContent, .comment .nodeContent, .reply .nodeContent
{
  margin-left: 110px;
}

.topicview .nodeFooter, .comment .commentFooter, .reply .nodeFooter
{
  margin-left: 110px;
}


/********
 * NODE *
*********/

html>body .node, .reply, .comment
{
  display: block;
}

.node table td,
.reply table td,
.comment table td
{
  vertical-align: top;
}

.node.simple
{
  padding: 5px;
}

.node .published
{
  margin: 5px 0 10px 0;
}

.node .nodeTitle a
{
  font-size: 131%;
  line-height: 130%;
  color: #2b6eb5;
}

.node .nodeStatus {
  font-size: 131%;
  line-height: 130%;
}

.nodeAttrLabel
{
  font-size: 100%;
  line-height: 130%;
  color: #606060;
}

.nodeAttrValue
{
  font-size: 100%;
  line-height: 130%;
  color: #333333;
}

.nodeAttrValue a
{
  color: #2b6eb5;
}

.node .userLink
{
  font-size: 100%;
  line-height: 150%;
  color: #999999;
}

.node .userLink a
{
  color: #2b6eb5;
}

.nodeContent
{
  line-height: 150%;
  margin-left: 1em;
  margin-right: 5em;
  padding-right: 2em;
}

.nodeContent ul li
{
   list-style-type: disc;
}

.nodeContent ol li
{
   list-style-type: decimal;
}

.nodeFooter
{
  background-color: #f8f8f8;
  border-top: 1px dashed #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  padding: 1px;
}

.nodeFooter .tagLabel
{
  background:transparent url(../images/tag-16.png) no-repeat scroll 0px 50%;
  padding-left: 18px;
}


/*************
 * EDIT BLOC *
**************/
.nodeEdit
{
   float: right;
   margin: 10px 0 0 15px;
   position: relative;
   width: 12em;
}

.nodeEdit div,
.replyEdit div
{
  padding: 2px 19px;
  margin-bottom: 4px;
}

.node.simple .nodeEdit
{
  width: 200px;
}

.nodeEdit .action-link
{
  font-size: 93%;
  line-height: 150%;
  color: #2B6EB5;
}

.nodeEdit .onViewNode
{
  background: url(../images/view-discussion-16.png) no-repeat scroll 0 2px;
  padding-left: 20px;
}

.nodeEdit .onAddReply
{
  background: url(../images/reply-to-discussion-16.png) no-repeat scroll 0 2px;
  padding-left: 20px;
}
.nodeEdit .onEditNode,
.nodeEdit .onEditReply,
.nodeEdit .onEditComment
{
  background:url(../images/edit-discussion-16.png) no-repeat scroll 0 2px;
  padding-left: 20px;
}

.nodeEdit .onEditBlogPost
{
  background:url(../images/edit-blog-16.png) no-repeat scroll 0 2px;
  padding-left: 20px;
}

.nodeEdit .onDeleteNode,
.nodeEdit .onDeleteReply,
.nodeEdit .onDeleteComment
{
  background: url('../images/delete-discussion-16.png') no-repeat scroll 0 2px;
  padding-left: 20px;
}

.nodeEdit .onDeleteBlogPost
{
  background: url('../images/delete-blog-16.png') no-repeat scroll 0 2px;
  padding-left: 20px;
}

.nodeEdit .onUpdateExternal
{
  background: url(../images/update-external-16.png) no-repeat scroll 0 2px;
  padding-left: 20px;
}

.nodeEdit .onPublishExternal
{
  background: url(../images/publish-external-16.png) no-repeat scroll 0 2px;
  padding-left: 20px;
}

.nodeEdit .onUnpublishExternal
{
  background: url(../images/unpublish-external-16.png) no-repeat scroll 0 2px;
  padding-left: 20px;
}
