.xformsItem
{
/*	border: 1px dashed blue; */
/*	margin-right: 2px; */
   clear: both;
}

.xformsItemRequiredImage
{
   vertical-align: middle;
   margin: 0px 5px;
   width: 9px;
   height: 9px;
}

.xformsItemLabelContainer
{
   height: 100%;
   line-height: 100%;
   white-space: nowrap;
   overflow: hidden;
   vertical-align: middle;
}

.xformsItemLabelSubmitError
{
   color: red;
}

.xformsItemDOMContainer
{
	position: relative;
	top: 1px;
	left: 0px;
	padding: 0px; 
	margin: 5px 0px;
}

.xformsGroup
{
	position: relative;
	top: 5px;
	left: 0px;
	width: 100%;
	border: 1px solid #d2d2d9; 
   clear: both;
}

.xformsGroupItem
{
	position: relative;
	margin: 0px 0px; 
	max-width: 100%;
   clear: both;
}

.xformsGroupHeader
{
	position: relative;
	top: 0px;
	left: 0px;
	height: 20px;
	line-height: 20px;
	width: 100%;
	background-color: #ececec; 
	font-weight: bold;
	border-bottom: 1px solid #d2d2d9; 
}

.xformsGroupDivider
{
   border-bottom: 1px dotted #d9d9de;
   margin: 5px 3px;
}

.xformsViewRoot
{
   padding-bottom: 5px;
   border-bottom: 1px dotted #d9d9de;
}

.xformsViewRootHeader
{
	position: relative;
	top: 0px;
	left: 0px;
	height: 30px;
	line-height: 30px;
	width: 100%;
	font-weight: bold;
	font-size: 12px;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px dotted #d9d9de;
    margin-bottom: 5px;
}

.xformsTextArea
{
	height: 200px;
	width: 100%;
}

.xformsRichTextEditorHoverLayer
{
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   background-color: #d9d9de;
   border: 2px inset black;
   color: black;
   z-index: 100;
   font-weight: bolder;
   font-size: 16px;
   text-align: center;
   overflow: hidden;
}        

.xformsRepeat
{
}

.xformsRepeatFocusedHeader
{
   background-color: #d4e4f4;
}

.xformsRepeatItem
{
/*	border-top: 1px solid #67a4e6; */
/*	border-bottom: 1px solid #67a4e6; */ 
	border-top: 1px solid #d2d2d9; 
	border-bottom: 1px solid #d2d2d9; 
}

.xformsRepeatItemSelected
{
   background-color: #ecf4fc;
}

.xformsRepeatControls
{
	position: relative;
	white-space: nowrap;
	border: 1px solid #67a4e6; 
	height: 20px;
	line-height: 20px;
   margin: 0px auto;
}

.xformsRowEven
{
	background-color: #f0f0ee;
	zoom: 1;
}

.xformsRowOdd
{
	background-color: #ffffff;
	zoom: 1;
}

.xformsRowHover
{
	background-color: #ffffcc;
	zoom: 1;
}

.xformsError
{
	padding: 2px;
	border: 1px solid #003366;
}

.xformsAjaxLoader
{
	position: absolute;
	top: 0px;
	right: 0px;
	color: white;
	background-color: red;
	border: 1px solid #aa0000;
	padding: 2px;
}

.xformsFilePicker
{
	width: 100%;
	max-width: 100%;
}

.xformsFilePickerStatus
{
	padding: 2px;
	border: 1px solid #003366;
	margin: 2px 5%;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
}

.xformsFilePickerHeader
{
	position: relative;
	height: 30px;
	line-height: 30px;
	padding-left: 2px;
	background-color: #e3effa;
	border: 1px solid #67a4e6;
	margin-right: 1px;
}

.xformsFilePickerHeaderMenuTrigger
{
	padding: 2px;
	font-weight: bold;
	text-decoration: none;
	border: 1px solid lightgrey;
}

.xformsFilePickerFooter
{
	text-align: center;
	height: 30px;
	line-height: 30px;
	background-color: #e3effa;
	border: 1px solid #67a4e6;
	margin-right: 1px;
}

.xformsFilePickerFileList
{
   position: relative;
	overflow-y: auto;
	background-color: white;
	border: 1px solid #67a4e6;
	margin-right: 1px;
}

/* begin picker table */

.xformsFilePickerWrapper
{
	width:100%;
}

.xformsFilePickerTable
{
	background-color: #e3effa;
	border: 1px solid #67a4e6;
	border-collapse: collapse;
	width:99.5%;
	/*background-image: url(../images/logo/AlfrescoFadedBG.png);*/
	display: inline-table;
}

.headerTdLeft
{
	/*background-color: #e3effa;*/
	border: 1px solid #67a4e6;
	border-right: 0;
	width:50%;
	height:22px;
}

.headerTdRight
{
	/*background-color: #e3effa;*/
	border: 1px solid #67a4e6;
	border-left: 0;
	text-align: right;
	width:50%;
	height:22px;
}

/* end picker table */

.xformsFilePickerRow
{
	position: relative;
	height: 20px;
	line-height: 20px;
}

.xformsFilePickerAddContent
{
	background-color: #ffffcc;
	position: relative;
	height: 30px;
	line-height: 30px;
}

.xformsFilePickerParentPathMenu
{
	position: absolute;
	background-color: #fefefe;
	border-style: outset;
	border: 1px solid #67a4e6;
	line-height: 20px;
	min-width: 100px;
}

.xformsGhostText
{
   color: grey;
}

