<@markup id="css" >
   <#-- CSS Dependencies -->
   <#-- <@link href="${url.context}/res/components/document-details/document-tags.css" group="document-details"/> -->
</@>

<@markup id="js">
   <#-- No JavaScript Dependencies -->
</@>



<@markup id="html">
   <div>
	<div style="padding:20px 0">
      <iframe src="http://127.0.0.1:8000/root/erp/link_demo.php?docid=${title}&folder=${folder}" style="width: 100%; height: 400px; border:1px solid #ccc "></iframe>
	</div>
   </div>
</@>
